<h1><%= @cat.name %></h1>
<table>
    <tr>
        <th>Info about <%= @cat.name %></th>
        <td></td>
    </tr>

    <tr>
        <th>Color: </th>
        <td><%= @cat.color %></td>
    </tr>
    <tr>
        <th>Sex: </th>
        <td><%= @cat.sex %></td>
    </tr>
    <tr>
        <th>Age: </th>
        <td><%= @cat.age %></td>
    </tr>
    <tr>
        <th>Description: </th>
        <td><%= @cat.description %></td>
    </tr>
</table>
